<% include partials/head.ejs %>

  <header>
    <% if (user) { %>
    <a href="/logout">logout</a>
    <% } else {%>
    <a href="/login">login</a>
    <a href="/register">register</a>
    <% } %>
  </header>

  <!-- Show pop up message after user updates game -->
  <% if(locals.flashes) { %>
    <% var categories =  Object.keys(flashes); %>
    <% categories.forEach(function (cat) { %>
      <% flashes[cat].forEach(message => { %>
          <div class="flash-message"> 
            <p><%= message %></p> 
          </div>
      <% }) %>
    <% }) %>
  <% } %>

  <% if (user) { %>
  <!-- LOGGED IN --> 
  <section class="user_logged-in">
    <h1>welcome back, <%= user.username %></h1>
    
    <% locations.forEach(function (el) { %>
      <div class="weather_card">
        <h2>the weather in <%= el.address %> is</h2>
        temp: <%= el.temp %>
        hourly: <%= el.hourly %>
        daily: <%= el.daily %>
      </div>
    <% }) %>

    <div>
      <h2>add location</h2>
      <% include partials/add-location.ejs %>
      <input type="submit" value="add">
    </div>
  </section>

  <% } else { %>

    <% if (address) { %>

      <section>
        Whats the weather in...
        <form action="/get-weather" method="post">        
            <fieldset class="add_location">
                <input id="searchTextField" class="maps_autocomplete" type="text" placeholder="search location" name="address" value="<%= address %>" required>
                <input type="hidden" id="location_Lat" name="location_Lat" />
                <input type="hidden" id="location_Lng" name="location_Lng" />             
            </fieldset>

            <input type="submit" value="search">
        </form>                                         

        <section class="weather_card">
            <h2>the weather in <%= address %> is</h2>
            temp: <%= temp %>     
            hourly: <%= hourly %>
            daily: <%= daily %>
        </section>
      </section>

    <% } else { %>

      <section>
        Whats the weather in...
        <% include partials/get-weather.ejs %>  
        <input type="submit" value="search">
      </section>

    <% } %>

  <% } %>

<% include partials/footer.ejs %>