<% include partials/head.ejs %>

  <header>
    <ul>
      <% if (user) { %>
      <li>
        <a href="/logout">logout</a>
      </li>
      <% } else { %>
      <li>
        <a href="/login">login</a>
      </li>
      <li>
        <a href="/register">register</a>
      </li>
      <% } %>
    </ul>
  </header>

  <% if (user) { %>
  <!-- LOGGED IN --> 
  <section class="user_logged-in">
    <div class="welcome_msg">
        <!-- Show pop up message after user updates game -->
    <% if(locals.flashes) { %>
      <% var categories =  Object.keys(flashes); %>
      <% categories.forEach(function (cat) { %>
        <% flashes[cat].forEach(message => { %>
            <div class="flash-message"> 
              <h1><%= message %> <%= user.username %></h1> 
            </div>
        <% }) %>
      <% }) %>
    <% } %>
      <h2>here are the weather forecasts for <% locations.forEach(function (el) { %> 
        <%= el.address.split(',')[0] %><span class="oxford">,</span>
      <% }) %></h2>    
    </div>

    <div class="weather_card-container">
      <ul>
      <% locations.forEach(function (el) { %>
        <li>
          <div class="weather_card">
            <div>
              <div class="weather_card-summary" data-img="./uploads/<%= el.image %>">
                <h2><%= Math.round(el.temp) %>°C</h2>
                <h2>currently in <%= el.address %>.</h2>
              </div>

              <div class="weather_card-week">
                <p>today: <%= el.hourly.toLowerCase() %> This week: <%= el.daily %></p>

                <button class=""><a href="<%= user._id %>/edit/<%= el.id %>">edit</a></button>
                <button class=""><a href="<%= user._id %>/remove/<%= el.id %>">remove</a></button>
              </div>
            </div>
          </div>
        </li>
      <% }) %>
        <li>
          <div class="add_location weather_card">
            <h2>add location</h2>
            <form class="add_location-form" action="/add-location" method="post" enctype="multipart/form-data">
              <% include partials/add-location.ejs %>
      
              <input type="submit" value="add">
            </form>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <% } else { %>

    <% if (address) { %>
      <section class="user_logged-out">
        <div class="search_section">
          <h2>Whats the weather in...</h2>
          <form action="/get-weather" method="post" class="add_location-form">        
            <fieldset class="add_location">
              <input id="searchTextField" class="maps_autocomplete" type="text" placeholder="search location" name="address" value="<%= address %>" required>
              <input type="hidden" id="location_Lat" name="location_Lat" />
              <input type="hidden" id="location_Lng" name="location_Lng" />             
            </fieldset>
          </form> 
        </div>
                                        
        <div class="weather_card">
          <div>
            <div class="weather_card-summary">
              <h2><%= Math.round(temp) %>°C</h2>
              <h2>currently in <%= address %>.</h2>
            </div>

            <div class="weather_card-week">
              <p>today: <%= hourly.toLowerCase() %> This week: <%= daily %></p>
            </div>
          </div>
        </div>
      </section>

    <% } else { %>
      <section class="user_logged-out">
        <div class="search_section">
          <h2>Whats the weather in...</h2>
          <form action="/get-weather" method="post" class="add_location-form">        
            <fieldset class="add_location">
              <input id="searchTextField" class="maps_autocomplete" type="text" placeholder="search location" name="address" value="<%= address %>" required>
              <input type="hidden" id="location_Lat" name="location_Lat" />
              <input type="hidden" id="location_Lng" name="location_Lng" />             
            </fieldset>
          </form> 
        </div>
      </section>

    <% } %>
  <% } %>

  <footer>
    Powered by <a href="https://darksky.net/forecast/40.7127,-74.0059/us12/en">Dark Sky</a>
  </footer>

<% include partials/footer.ejs %>