<% include partials/head.ejs %>

  <section class="">
    <h1>welcome back, <%= userName %></h1>

    <section class="">
        <h2>the weather in <%= location %> is</h2>
        temp: <%= temp %>
        hourly: <%= hourly %>
        daily: <%= daily %>
    </section>
  </section>

<% include partials/footer.ejs %>